<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-transform"/> 
<meta http-equiv="Cache-Control" content="no-siteapp" /> 
<title>社会支持评定量表(SSRS)</title>
<style type="text/css">
    <!--

    /*关键字浮层*/
    .over{background-color:#B7DDA9;}
    .out{background-color:'';}

    .a-tips-Article-QQ:link {color:#66CCFF;border-bottom:1px dotted #0781C7;text-decoration:none}
    .a-tips-Article-QQ:hover {color:#66CCFF;background:#EBF2FA;text-decoration:none}
    .a-tips-Article-QQ:visited {color:#66CCFF;border-bottom:1px dotted #0781C7;text-decoration:none}

    /*浮动end*/
    .STYLE1 {font-family: "微软雅黑"}
    .STYLE2 {font-size: 15px}
    .style123w{
      height:100%;
      border: 1px #CCC solid;
      padding: 8px;
      margin: 0 auto;
      font-size:16px;
      line-height:1.8;
      font-family:"微软雅黑"
    }
  -->
</style>
<script type="text/javascript">
function getIEVer() { 
var ua = navigator.userAgent; //获取用户端信息 
var b = ua.indexOf("MSIE "); //检测特殊字符串"MSIE "的位置 
if (b < 0) {    return 0;  }  
return parseFloat(ua.substring(b + 5, ua.indexOf(";", b))); 
//
} 
if (getIEVer()==0){

 //document.write("您正在用webkit内核浏览器（firefox、chrome或其他）,这样可能导致显示不正常,请尽量使用IE浏览器！");displayMode="table-row"} else {

// document.write("浏览器版本：IE"+getIEVer()+"(正常体验)"); displayMode=""
}
</script>

<script Language="JavaScript">
  function linkTo(y)
  {

    window.location.hash=y
  }

function form_check(){
   var a = document.getElementsByTagName("INPUT");
   var b = document.getElementsByTagName("STRONG");
   for(var i=0; i<a.length; i++)
   {
    var tmpStr;

    tmpStr = a[i].name;

    tmpjuanbiao=tmpStr+"juanbiao"
    if(a[i].type=="radio" && eval("document.form1."+tmpStr+"[0].checked") == false && eval("document.form1."+tmpStr+"[1].checked") == false  && eval("document.form1."+tmpStr+"[2].checked") == false)
    { 
      alert("问题'"+tmpStr+"'没有选择");
      linkTo(tmpjuanbiao);
      return false;
    }
  }
}
</script>

</head>

<body>
<table style="width:771px;margin :  5px 0px 15px 5px;margin-left:auto;margin-right:auto"align="center">
<tr><td>
      <div class="style123w" style=" width:771px;border-top:0px;" >
      <br /><h2 align="center">社会支持评定量表(SSRS)</h2><br />
      <div style="padding:10px;">
       <table style="FLOAT: left; MARGIN: 0px 25px 10px 0px" width="160" bgcolor="#dddddd" cellpadding="0" cellspacing="5"></table>
       <p><strong>社会支持评定量表(SSRS)</strong>由肖水源于1986年编制，共有10个条目，包括客观支持（3）、主观支持（4）和对社会支持的利用的（3）三个维度。</p>
       <form  name="16pf"  action="" method="post"   onSubmit="return form_check();">
        <hr>
		<p><b>指导语：</b></p>
		<p> 实施测验时，请受测者按各个问题的具体要求，根据实际情况填写。</p><hr>
        <span class="style1">
          <table width="95%"  border="0" cellpadding="0" cellspacing="0" align="center">
            <tr><td >
             <span class="style1"> <strong >1、您有多少关系密切，可以得到支持和帮助的朋友？</strong>
              <br><br>
              <label    for="11"><input type="radio" name="answer1" value="1"  id="11"   >A.一个也没有</label><br />
              <label    for="12"><input type="radio" name="answer1" value="2"  id="12" >B.1—2个</label><br />
              <label    for="13"><input type="radio" name="answer1" value="3"  id="13" >C.3—5个</label><br>
			  <label    for="14"><input type="radio" name="answer1" value="4"  id="14" >D.6个或6个以上</label><br>
			  <br>
            </span>
            </td>  </tr>
			
            <tr><td > 
             <span class="style1"> <strong >2、近一年来您</strong>
              <br><br>
              <label    for="21"><input type="radio" name="answer2" value="1"  id="21"   >A.远离家人，且独居一室</label><br />
              <label    for="22"><input type="radio" name="answer2" value="2"  id="22" >B.住处经常变动，多数时间和陌生人住在一起</label><br />
              <label    for="23"><input type="radio" name="answer2" value="3"  id="23" >C.和同学、同事或朋友住在一起</label><br>
			  <label    for="24"><input type="radio" name="answer2" value="4"  id="24" >D.和家人住在一起</label><br>
			  <br>
            </span>
            </td>  </tr>			

            <tr><td > 
             <span class="style1"> <strong >3、您与邻居</strong>
              <br><br>
              <label    for="31"><input type="radio" name="answer3" value="1"  id="31"   >A.相互不交往，只是点头之交</label><br />
              <label    for="32"><input type="radio" name="answer3" value="2"  id="32" >B.遇到困难可能稍微关心</label><br />
              <label    for="33"><input type="radio" name="answer3" value="3"  id="33" >C.有些邻居很关心您</label><br>
			  <label    for="34"><input type="radio" name="answer3" value="4"  id="34" >D.大多数邻居都很关心您</label><br>
			  <br>
            </span>
            </td>  </tr>

            <tr><td > 
             <span class="style1"> <strong >4、您与同事</strong>
              <br><br>
              <label    for="41"><input type="radio" name="answer4" value="1"  id="41" >A.相互不交往，只是点头之交</label><br />
              <label    for="42"><input type="radio" name="answer4" value="2"  id="42" >B.遇到困难可能稍微关心</label><br />
              <label    for="43"><input type="radio" name="answer4" value="3"  id="43" >C.有些同事很关心您</label><br>
			  <label    for="44"><input type="radio" name="answer4" value="4"  id="44" >D.大多数同事都很关心您</label><br>
			  <br>
            </span>
            </td>  </tr>
			
            <tr><td > 
             <span class="style1"> <strong >5、矩阵单选题</strong>
              <br><br>
			  <div class="matrix"><div id='qwe' class='matrix'>
              <table class='table table-bordered td-Tc' cellspacing='0' cellpadding='0' border='1'>
			  <tbody> 
			  <tr><td></td><td align='center'> 全力支持</td><td align='center'> 一般</td><td align='center'> 极少</td><td align='center'> 无</td> </tr>
			  <tr><td style='text-align:left;'> 夫妻（恋人） </td> <td align='center' width='17%'><input type='radio' name='answer51' value='1'></td><td align='center'width='17%'><input type='radio' name='answer51' value='2'></td><td align='center'width='17%'><input type='radio' name='answer51' value='3'></td><td align='center' width='17%'><input type='radio' name='answer51' value='4'></td> </tr>
			  <tr><td style='text-align:left;'> 父母 </td> <td align='center' width='17%'><input type='radio' name='answer52' value='1'></td><td align='center'width='17%'><input type='radio' name='answer52' value='2'></td><td align='center'width='17%'><input type='radio' name='answer52' value='3'></td><td align='center' width='17%'><input type='radio' name='answer52' value='4'></td> </tr>
			  <tr><td style='text-align:left;'> 儿女 </td> <td align='center' width='17%'><input type='radio' name='answer53' value='1'></td><td align='center'width='17%'><input type='radio' name='answer53' value='2'></td><td align='center'width='17%'><input type='radio' name='answer53' value='3'></td><td align='center' width='17%'><input type='radio' name='answer53' value='4'></td> </tr>
			  <tr><td style='text-align:left;'> 兄弟姊妹 </td> <td align='center' width='17%'><input type='radio' name='answer54' value='1'></td><td align='center'width='17%'><input type='radio' name='answer54' value='2'></td><td align='center'width='17%'><input type='radio' name='answer54' value='3'></td><td align='center' width='17%'><input type='radio' name='answer54' value='4'></td> </tr>
			  <tr><td style='text-align:left;'> 其他成员（如嫂子） </td> <td align='center' width='17%'><input type='radio' name='answer55' value='1'></td><td align='center'width='17%'><input type='radio' name='answer55' value='2'></td><td align='center'width='17%'><input type='radio' name='answer55' value='3'></td><td align='center' width='17%'><input type='radio' name='answer55' value='4'></td> </tr>
			  </tbody></table>
			  <br>
            </span>
            </td></tr>
			
            <tr><td > 
             <span class="style1"> <strong >6、过去，在您遇到急难情况时，曾经得到的经济支持或解决实际问题的帮助的来源有</strong>
              <br><br>
              <label    for="51"><input type="checkbox" name="answer6" value="0"  id="11"   >A.无任何来源</label><br />
              <label    for="52"><input type="checkbox" name="answer6" value="1"  id="52" >B.配偶</label><br />
              <label    for="53"><input type="checkbox" name="answer6" value="2"  id="53" >C.其他家人</label><br>
			  <label    for="54"><input type="checkbox" name="answer6" value="2"  id="54" >D.朋友</label><br>
			  <label    for="55"><input type="checkbox" name="answer6" value="2"  id="55" >E.亲戚</label><br>
			  <label    for="56"><input type="checkbox" name="answer6" value="2"  id="56" >F.同事</label><br>
			  <label    for="57"><input type="checkbox" name="answer6" value="2"  id="57" >G.工作单位</label><br>
			  <label    for="58"><input type="checkbox" name="answer6" value="2"  id="58" >H.党团工会等官方或半官方组织</label><br>
			  <label    for="59"><input type="checkbox" name="answer6" value="2"  id="59" >I.宗教、社会团体等非官方组织</label><br>
			  <label    for="50"><input type="checkbox" name="answer6" value="2"  id="50" >J.其他</label><br>
			  <br>
            </span>
            </td>  </tr>
		
            <tr><td > 
             <span class="style1"> <strong >7、过去，在您遇到急难情况时，曾经得到的安慰和关心的来源有</strong>
              <br><br>
              <label    for="71"><input type="checkbox" name="answer7" value="0"  id="71"   >A.无任何来源</label><br />
              <label    for="72"><input type="checkbox" name="answer7" value="1"  id="72" >B.配偶</label><br />
              <label    for="73"><input type="checkbox" name="answer7" value="2"  id="73" >C.其他家人</label><br>
			  <label    for="74"><input type="checkbox" name="answer7" value="2"  id="74" >D.朋友</label><br>
			  <label    for="75"><input type="checkbox" name="answer7" value="2"  id="75" >E.亲戚</label><br>
			  <label    for="76"><input type="checkbox" name="answer7" value="2"  id="76" >F.同事</label><br>
			  <label    for="77"><input type="checkbox" name="answer7" value="2"  id="77" >G.工作单位</label><br>
			  <label    for="78"><input type="checkbox" name="answer7" value="2"  id="78" >H.党团工会等官方或半官方组织</label><br>
			  <label    for="79"><input type="checkbox" name="answer7" value="2"  id="79" >I.宗教、社会团体等非官方组织</label><br>
			  <label    for="70"><input type="checkbox" name="answer7" value="2"  id="70" >J.其他</label><br>
			  <br>
            </span>
            </td>  </tr>
			
            <tr><td > 
             <span class="style1"> <strong >8、您遇到烦恼时的倾诉方式</strong>
              <br><br>
              <label    for="81"><input type="radio" name="answer8" value="1"  id="81"   >A.从不向任何人诉述</label><br />
              <label    for="82"><input type="radio" name="answer8" value="2"  id="82" >B.只向关系极为密切的几个人诉述</label><br />
              <label    for="83"><input type="radio" name="answer8" value="3"  id="83" >C.如果朋友主动询问您会说出来</label><br>
			  <label    for="84"><input type="radio" name="answer8" value="4"  id="84" >D.主动诉述自己的烦恼，以获得支持和理解</label><br>
			  <br>
            </span>
            </td>  </tr>
			
            <tr><td > 
             <span class="style1"> <strong >9、您遇到烦恼时的求助方式</strong>
              <br><br>
              <label    for="91"><input type="radio" name="answer9" value="1"  id="91"   >A.只靠自己，不接受别人帮助</label><br />
              <label    for="92"><input type="radio" name="answer9" value="2"  id="92" >B.很少请求别人帮助</label><br />
              <label    for="93"><input type="radio" name="answer9" value="3"  id="93" >C.有时请求别人帮助</label><br>
			  <label    for="94"><input type="radio" name="answer9" value="4"  id="94" >D.有困难时经常向家人、亲友、组织求援</label><br>
			  <br>
            </span>
            </td>  </tr>

            <tr><td > 
             <span class="style1"> <strong >10、对于团体（如党团组织、宗教组织、工会、学生会等）组织活动，您</strong>
              <br><br>
              <label    for="101"><input type="radio" name="answer10" value="1"  id="101"   >A.从不参加</label><br />
              <label    for="102"><input type="radio" name="answer10" value="2"  id="102" >B.偶尔参加</label><br />
              <label    for="103"><input type="radio" name="answer10" value="3"  id="103" >C.经常参加</label><br>
			  <label    for="104"><input type="radio" name="answer10" value="4"  id="104" >D.主动参加并积极活动</label><br>
			  <br>
            </span>
            </td>  </tr>
</table>
</span>
<p align="center">  <input type="submit" name="Submit" value="  提　　交　"></p>
</form>
</div></div>
<br />
<br />
<br />
</td></tr></table>
</body>
</html>
